<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">RADICAL Cybertools is an abstractions-based suite of well-defined capabilities that are architected for scalable, interoperable and sustainable approaches to support science on a range of high-performance and distributed computing systems. RCT is ..</h3> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Scalable.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Scalable</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Radical Pilot System provides a simple and scalable approach for executing many concurrent simulations and their data requirements on clusters, grids, and clouds. Capable of scheduling O(10k) tasks and marshalling O(10k) distributed cores, RADICAL-Pilot offers its users a lightweight API capable of handling a variety of workloads</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/flexible.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading"> Flexible</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Radical Pilot allows user-level control of pilot jobs and supports a wide range of application types. It is built on top of The Simple API for Grid Applications (SAGA), a high-level, easy-to-use API for accessing distributed resources. Thus, RADICAL-Pilot works on a variety of backends such as PBS, SGE, Amazon EC2, etc.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Interoperable</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Given the heterogeneity of distributed infrastructure, SAGA provides a much needed interoperability layer that lowers the complexity and improves the simplicity of using distributed infrastructure whilst enhancing the sustainability of distributed applications, services and tools.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Simple</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">RCT is written in the Python programming language, and as such is easily deployable into user space. RADICAL-Pilot allows its users to submit tasks to a variety of HPC machines using only a single, straightforward API.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                           <a href="https://radicalentk.readthedocs.io/en/latest/install.html#installation"> 
                            <div class="timeline-image">
                            
                                <h4>Use
                                    <br>RCT
                                    <br>Now!</h4>
                            </div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>